.main-container {
    display: flex;
    gap: 32px;
    padding: 0 32px;
}

.product-container {
    display: flex;
    gap: 32px;    
}

@media (max-width: 850px) {
    .product-container {
        flex-direction: column;
    }
}

.shopping-cart-list-item {
    gap: 8px;
}

/* .shopping-cart-container {
    width: 24dvw;
} */
