.navbar {
    background-color: #e3f2fd;
}

.main-container {
    display: flex;
    gap: 32px;
    padding: 0 32px;
}

.product-container {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

@media (min-width: 850px) {
    .product-container {
        flex-direction: row;
    }
}

.shopping-cart-container {
    display: none;
}

.shopping-cart-list-item {
    gap: 8px;
}
